@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
html,body{
   
    background-size: cover;
   height: 100%;
    background-repeat: no-repeat;
    background: rgb(196,63,249);
    background: linear-gradient(332deg, rgba(196,63,249,1) 0%, rgba(255,165,250,1) 35%, rgba(120,225,246,1) 100%);
    background-attachment: fixed;
}
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: #0009;
    cursor: default;
}
.list-of-act { 
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 25px rgba(0, 0, 0, 0.08);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
}
.list-of-act .back-to-main {
    position: sticky;
    width: 10%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease;
    top: 0%;
    left: 0%;
    margin: 40px;
}
.list-of-act .back-to-main:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    font-size: 15px;
}
.list-of-act .list-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.list-of-act .list-heading span {
    color: violet;
}
.list-of-act .list-heading h3 {
    font-size: 2.4rem;
    font-weight: 600;
}
.list-of-act-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    
}
.list-of-act-box {
    width: 90%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    margin: 20px 30px;
}
.list-of-act-box .list-img {
    width: 100%;
    height: auto;
}
.list-of-act-box .list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.list-of-act-box .list-of-act-para {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.list-of-act-box .list-of-act-para span {
    color: black;
    font-weight: 400;
}
.list-of-act-box .list-of-act-para a {
    font-size: 1.4rem;
    font-weight: 700;
}
.list-of-act-box .list-of-act-para .student-act-descrip {
    font-size: .9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.list-of-act-box .list-inputs {
    display: flex;
    flex-direction: column;
    padding: 30px;

}
.list-of-act-box .list-inputs .pass-act {
    background-color: #fff7;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}
.custom-file-upload {
    background-color: transparent;
    border: none;
    color:black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="file"] {
    display: none;
}



.list-of-act-box .list-inputs .comment-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-of-act-box .list-inputs .comment-box textarea {
   outline: none;
   border: none;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   background-color: #fff6;
   border-radius: 5px;
   color: black; 
   resize: none;
}
.list-of-act-box .list-inputs .pass-act-btn {
    display: flex;
   align-items: center;
   justify-content: center;
}
.list-of-act-box .list-inputs .pass-act-btn button{
     width: 70%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    font-weight: 600;
    cursor: pointer;
    transition: .1s ease-in;
}
.list-of-act-box .list-inputs .pass-act-btn button:hover{
   height: 45px;
   border: none;
   outline: none;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, .4);
   color: #333;
   font-weight: 600;
   font-size: 14px;
   cursor: pointer;
   align-self: center;
}
.full-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-view img {
    max-width: 90%;
    max-height: 90%;
}
@media screen and (max-width: 1200px){
    .list-of-act-box {
        width: 300px;
    }
}
@media screen and (max-width: 1100px){
    .list-of-act-box{
        width: 70%;
    }
}
@media screen and (max-width: 550px){
    .list-of-act-box {
        margin: 20px 10px;
        width: 100%;
    }
    .list-of-act-box:hover {
    
        width: 110%;
    }
    .list-of-act {
        padding: 20px;
    }
  
}